name: Publish

concurrency:
  group: publish

on:
  workflow_dispatch:
  schedule:
    - cron: '0 10 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.100

    - name: Get Engine Tag
      run: |
        cd RobustToolbox
        git fetch --depth=1

    - name: Package
      run: |
        Tools/package_server_build.py -p win-x64 linux-x64 osx-x64 linux-arm64
        Tools/package_client_build.py

    - name: Update Build Info
      run: Tools/gen_build_info.py

    - name: Shuffle files around
      run: |
        mkdir "release/${{ github.sha }}"
        mv release/*.zip "release/${{ github.sha }}"

    - name: Upload files to cdn
      uses: appleboy/scp-action@master
      with:
        host: delta-v.org
        username: boywife-ralsei
        key: ${{ secrets.BUILDS_PUSH_KEY }}
        port: ${{ secrets.PUBLISH_SSH_PORT }}
        source: "release/${{ github.sha }}"
        target: "/var/www/builds.delta-v.org/delta-v/builds/"
        strip_components: 1

    - name: Update manifest JSON
      uses: appleboy/ssh-action@master
      with:
        host: delta-v.org
        username: boywife-ralsei
        key: ${{ secrets.BUILDS_PUSH_KEY }}
        port: ${{ secrets.PUBLISH_SSH_PORT }}
        script: /var/www/builds.delta-v.org/push.ps1 ${{ github.sha }}

    - name: Publish changelog
      run: |
        pip install python-dateutil
        Tools/actions_changelogs_since_last_run.py
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        DISCORD_WEBHOOK_URL: ${{ secrets.CHANGELOG_DISCORD_WEBHOOK }}
